.impar{

  background-color: rgb(240, 156, 170);
  font-family: sans-serif
}

#par{
  color: rgb(41, 41, 246);
  font-size: 36px;
}

.imparr2{
  font-size: 24px;

}

  #par1.par2{
    background-color: rgb(128, 255, 78);
    font-size: 24px;
    font-weight: bold;
  }

button :hover{
  color: green;
  font-size:large;
}