p{
  background-color: pink;

}

li{
  font-family: sans-serif;

}
/**
div{
  color: blue;
  font-size: 36px;

div{
  background-color: greenyellow;
  font-weight: bold;
  font-size: 24px;
}
**/

span{
  font-size: 24px;
}

div span{ 
  background-color: greenyellow;
  font-weight: bold;
}

button :hover{
  color: green;
  font-size:large;
}