.F1{
  background-color: black;
  color: white;

}

.F2{
  background-color: yellow;
  color: rgb(0, 0, 0);
  
}


button :hover{
  color:peru;
  font-size:large;
}

.FF,.F1,.F2{
  font-family:Helvetica, sans-serif;
  font-size: 28px;
}
